/* Dialog content */
.dialog {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  border-radius: 5px;    
  position: absolute;
  bottom: 0%;
  right: 0%;
  font-size: 12pt;
}

.exit-downsize-button-div {
  top: 10px;
  right: 10px;
  position: absolute;
}

.exit-downsize-button-div button{
  margin: 2px;
}

#place-notation-input {
  width: 100%;
}

.simulator-active {
  animation: swing ease-in-out 2s infinite alternate;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-270deg); }
}